* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li a:hover,
.right .content ul li a:hover,
.bottom-bar .song-info i:hover {
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: calc(100vh - 80px);
}

.left {
    background-color: black;
    max-height: calc(100vh - 80px);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.left .logos {
    height: 100px;
}

.left .top-list {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left .bottom-list {
    height: calc(100vh - 480px);
}

.left ul {
    color: #6f6f6f;
}

li.mobile-view {
    display: none;
}

#small-logo {
    display: none;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu img {
    width: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.left li {
    padding-left: 20px;
    list-style: none;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left a {
    color: #6f6f6f;
}

.left i {
    font-size: 25px;
    vertical-align: middle;
    padding-right: 10px;
}

.menu .top-list li:last-child i{
    font-size: 40px;
}

#home {
    color: white;
    padding-left: 18px;
    border-left: 2px solid #adff2f;
}

#home a {
    color: white;
}

#playlist a{
    text-transform: uppercase;
    color: white;
}

.menu ul:first-of-type li:nth-child(3){
    margin-bottom: 20px;
}

.menu ul:last-of-type {
    overflow-y: auto;
}

.user {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.user hr {
    width: 210px;
}

.user li:nth-child(3) a,
.user li:nth-child(5) a {
    color: white;
    font-size: 20px;
}

.user li:nth-child(3) i,
.user li:nth-child(5) i {
    font-size: 30px;
}

.user li:nth-child(5) i {
    color: white;
}

.right {
    background-color: #141922;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.upgrade {
    height: 80px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right .upgrade button {
    padding: 10px 40px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    background-color: #080b12;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;
}

.right .upgrade button:hover {
    transform: scale(105%);
}

.right .content {
    display: flex;
    flex-direction: column;
}

.right .content ul li {
    display: inline-block;
    padding: 20px 10px;
}

.right .content ul li a {
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}



.right .content ul li:first-of-type {
position: relative;
}

.right .content ul li:first-of-type::after {
content: '';
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 30%;
display: block;
height: 2px;
background-color: #a2ef30;
}

.right .list {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right .music {
    height: calc(100vh - 240px);
}

.right .music h2,
.music .row small:not(:last-child) {
    width: 100%;
}


.right .music h2,
.right .music h4 {
    color: white;
}

.right .music h4 {
    margin: 10px 0;
}

.right .music {
    padding: 10px 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.right .music .row {
    display: flex;
    flex-wrap: wrap;
}

.music .box {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    width: 150px;
}

.image-box {
    height: 150px;
    width: 150px;

    margin-top: 20px;
    position: relative;
}

.image-box .layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layer i {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.layer i:hover {
    cursor: pointer;
}

.box .image-box:hover .layer{
    display: block;
    background-color: #00000078;
}



.music .row:last-child .image-box,
.music .row:last-child .image-box .layer,
.music .row:last-child .image-box img {
    border-radius: 50%;
}

.right .music .row:not(:first-of-type) h2 {
    margin-top: 40px;
}

.right .music .row:last-of-type {
    padding-bottom: 30px;
}

small {
    color: #6f6f6f;
}

small.block {
    display: block;
    margin-top: 10px;
}

img.circle {
    border-radius: 50%;
}


.bottom-bar {
    background-color: #282828;
    height: 80px;
    z-index: 99;
    display: flex;
    align-items: center;
    color: white;
}

.bottom-bar i:hover {
    cursor: pointer;
}

.song-info {
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 25%;
}

.song-info img {
    height: 50px;
}

.bottom-bar .song-info,
.bottom-bar .player,
.bottom-bar .controls {
    height: 100%;
}

.bottom-bar .song-info .text {
    padding-left: 10px;
    padding-right: 30px;
}

.bottom-bar .song-info .text div:last-child {
    color: #6f6f6f;
    font-size: 12px;
}

.bottom-bar .song-info .text div:last-child:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.bottom-bar .song-info i {
    color: #6f6f6f;
    font-size: 14px;
}

.bottom-bar .song-info i:first-of-type {
    padding-right: 10px;
}

.bottom .controls {
    padding: 0 10px;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-player {
    padding-bottom: 10px;
    font-size: 18px;
}

#play {
    font-size: 30px;
    margin: 0 20px;
}

#play:hover {
    transform: scale(110%);
}

.top-player i:first-child,
.top-player i:nth-child(4),
.top-player i:last-child{
    margin-right: 10px;
}

.top-player i:first-child {
    margin-left: 10px;
}

.top-player,
.bottom-player {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-player {
    font-size: 13px;
}

/* .player progress {
    width: 2000%;
} */

progress {
  border: none;
  /* width: 400px; */
  height: 3px;
  margin: 0 20px;
  background: #5a5a5a;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: #c1c1c1;
  border-radius: 3px;
}

progress::-moz-progress-bar {
  background: #c1c1c1;
  border-radius: 3px;
}

progress::-webkit-progress-value {
  background: #c1c1c1;
  border-radius: 3px;
}

progress::-webkit-progress-bar {
  background: #c1c1c1;
  background-color: #5a5a5a;
  border-radius: 3px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    padding: 0 10px;
}

/* .controls progress{
    width: 40%;
} */

.controls i,
.controls progress {
    margin-left: 10px;
    margin-right: 0;
}

.controls i {
    font-size: 14px;
}




@media screen and (max-width: 992px) {
    .song-info {
        width: 30%;
    }

    .player {
        width: 40%;
    }

    .controls {
        width: 30%;
    }
}





@media screen and (max-width: 767px) {
    .left .logos {
        height: 70px;
    }

    #big-logo {
        display: none;
    }

    #small-logo {
        display: block;
        filter: invert(1);
        width: 40px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .left {
        width: 50px;
    }

    li.mobile-view {
        display: block;
        padding: 5px 0;
    }

    li.mobile-view i {
        padding: 0;
    }

    li.mobile-view i:hover {
        color: white;
    }

    .right .content ul li a {
        letter-spacing: 1px;
    }

    .left .top-list,
    .left .bottom-list {
        display: none;
    }

    .hide {
        display: none;
    }

    .right .content ul li {
        padding: 5px 10px;
    }

    .menu {
        align-items: center;
    }

    .image-box {
        height: 120px;
        width: 120px;
    }

    .right .music .box img {
        height: 120px;
    }

    .music .box {
        width: 120px;
    }

    .upgrade {
        height: 60px;
    }

    .left ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .song-info {
        width: 33.3333%;
    }

    .bottom-bar .song-info .text {
        padding-right: 10px;
    }

    .bottom-bar .song-info .icons {
        display: flex;
        flex-direction: column;
    }

    .bottom-bar .song-info .icons i:first-of-type {
        padding: 0;
        padding-bottom: 5px;
    }

    .player {
        width: 33.3333%;
    }

    .top-player i {
        font-size: 12px;
    }

    #play {
        font-size: 21px;
        margin: 0 15px;
    }

    .top-player i:first-child,
    .top-player i:nth-child(4),
    .top-player i:last-child {
        margin-right: 7px;
    }

    .bottom-player {
        font-size: 10px;
    }

    .controls {
        width: 33.3333%;
        justify-content: space-between;
    } */

    .controls progress {
        transform: rotate(-90deg);
        width: 60px;
    }
}

@media screen and (max-width: 935px) {
    .right .list {
        height: 120px;
    }

    .right .music {
        height: calc(100vh - 260px);
    }

}

@media screen and (max-width: 419px) {
    .image-box {
        height: 112px;
        width: 112px;
    }

    .right .music .box img {
        height: 112px;
    }

    .music .box {
        width: 112px;
    }
}
